/* ================= MENU ================= */

.menu-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.55);
    z-index:300;
    display:none;
}

.menu-overlay.active{
    display:block;
}

.menu-panel{
    position:absolute;
    top:70px;
    right:12px;
    width:235px;
    border-radius:17px;
    background:#101b2d;
    border:1px solid rgba(255,255,255,.09);
    box-shadow:0 18px 45px rgba(0,0,0,.45);
    overflow:hidden;
}
